ErrorDocument 404 /error404.html

RewriteEngine On
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.meshcheryakov\.com$ [NC]
RewriteRule ^ https://meshcheryakov.com%{REQUEST_URI} [R=301,L]
